<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ category.name }} </title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="styles.css">
  <style>
    /* Custom styles for blue accents */
    .accent-blue {
      color: #007bff;
    }
    .bg-accent-blue {
      background-color: #007bff;
    }
    .border-accent-blue {
      border-color: #007bff;
    }
  </style>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-accent-blue">
    <a class="navbar-brand accent-blue" href="/home">SpareBikePartsStore</a>
    <!-- Add additional navigation links here -->
    <a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 20px; color: white;margin-right: 20px;"></i></a>
  </nav>

  <!-- Hero Section -->
  <header class="jumbotron jumbotron-fluid bg-accent-blue text-white">
    <div class="container">
      <h1>{{ category.name }}</h1>

      <!-- Add call-to-action buttons or search bar here -->
    </div>
  </header>

  <div class="container">
<div class="card-columns">
  {% for product in products %}
  {% load static %}
  <div class="card">
    <img class="card-img-top" src="{{ product.photo.url }}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">{{ product.name }}</h3>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text"><b>{{ product.price }} &euro;</b></p>
<!--      <a href="#" class="btn btn-primary">Add to Cart</a>-->
<!--      <a href="{% url 'cart' %}?name={{ product.name }}&description={{ product.description }}&price={{ product.price }}&photo={{ product.photo.url }}" class="btn btn-primary">Add to Cart</a>-->

      <form method="POST" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Add to Cart">
      </form>


    </div>
  </div>
  {% empty %}
  <h2>No products here</h2>
  <a href="/home" class="btn btn-primary">Go Back</a>
  {% endfor %}
</div>
    </div>



  <br>
  <br>
  <br>
  <br>
  <footer class="container-fluid bg-accent-blue text-white">
    <div class="container">
      <p>&copy; 2023 SpareBikePartsStore. All rights reserved.</p>
    </div>
  </footer>




<!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
